.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 20px;

}
.cart-container{
    background-color: bisque;
    padding: 20px 30px;
    height: 100vh;
    position: sticky;
    top: 0px;
}